<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="ftp://192.168.10.32"/>
    <add key="UserName" value="video"/>
    <add key="PassWord" value="video"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="ftp://192.168.10.32" maxconnection="1000"/>
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
